@import "variables";

@mixin textBackgroundGradient($color1, $color2 ) {
  background-image: linear-gradient(to right bottom, $color1, $color2);
  display: inline-block;
  -webkit-background-clip: text;
  color: transparent;
}

%mixin-gradient-overlay-right {
  position: absolute;
  bottom: 0;
  width: 3rem;
  height: 100%;
  pointer-events: none;
  content: '';
  background: linear-gradient(to left, var(--bg-light), transparent);
}

@mixin screen($breakpoint) {
  @if not $breakpoint {
    @content;
  } @else {
    @media screen and (min-width: $breakpoint) {
      @content;
    }
  }
}

