@use 'sass:string';
@import 'variables';
@import 'functions';


@each $space in $tiny_spaces {
  .space-y-#{escape-number($space)} {
    & > * + * {
      margin-top: #{$space * 0.25}rem;
    }
  }

  .space-x-#{escape-number($space)} {
    & > * + * {
      margin-left: #{$space * 0.25}rem;
    }
  }

  .gap-#{escape-number($space)} {
    gap: #{$space * 0.25}rem;
  }

  .gap-x-#{escape-number($space)} {
    column-gap: #{$space * 0.25}rem;
  }

  .gap-y-#{escape-number($space)} {
    row-gap: #{$space * 0.25}rem;
  }

  .m-#{escape-number($space)} {
    margin: #{$space * 0.25}rem;
  }

  .-m-#{escape-number($space)} {
    margin: #{-$space * 0.25}rem;
  }

  .mx-#{escape-number($space)} {
    margin-right: #{$space * 0.25}rem;
    margin-left: #{$space * 0.25}rem;
  }

  .-mx-#{escape-number($space)} {
    margin-right: #{-$space * 0.25}rem;
    margin-left: #{-$space * 0.25}rem;
  }

  .my-#{escape-number($space)} {
    margin-top: #{$space * 0.25}rem;
    margin-bottom: #{$space * 0.25}rem;
  }

  .-my-#{escape-number($space)} {
    margin-top: #{-$space * 0.25}rem;
    margin-bottom: #{-$space * 0.25}rem;
  }

  .px-#{escape-number($space)} {
    padding-right: #{$space * 0.25}rem;
    padding-left: #{$space * 0.25}rem;
  }

  .py-#{escape-number($space)} {
    padding-top: #{$space * 0.25}rem;
    padding-bottom: #{$space * 0.25}rem;
  }

  .p-#{escape-number($space)} {
    padding: #{$space * 0.25}rem;
  }

  .inset-#{escape-number($space)} {
    inset: #{$space * 0.25}rem #{$space * 0.25}rem #{$space * 0.25}rem #{$space * 0.25}rem;
  }

  .inset-x-#{escape-number($space)} {
    right: #{$space * 0.25}rem;
    left: #{$space * 0.25}rem;
  }

  .inset-y-#{escape-number($space)} {
    top: #{$space * 0.25}rem;
    bottom: #{$space * 0.25}rem;
  }
  .top-#{escape-number($space)} {
    top: #{$space * 0.25}rem;
  }

  .bottom-#{escape-number($space)} {
    bottom: #{$space * 0.25}rem;
  }

  .right-#{escape-number($space)} {
    right: #{$space * 0.25}rem;
  }

  .left-#{escape-number($space)} {
    left: #{$space * 0.25}rem;
  }
}

@each $name, $size in $screens {
  .w-#{$name} {
    width: $size;
  }
  .h-#{$name} {
    height: $size;
  }
  .min-w-#{$name} {
    min-width: $size;
  }
  .max-w-#{$name} {
    max-width: $size;
  }
  .min-h-#{$name} {
    min-height: $size;
  }
  .max-h-#{$name} {
    max-height: $size;
  }
}

// Border
.border-0 {
  border-width: 0;
}

.border-2 {
  border-width: 2px;
}

.border-4 {
  border-width: 4px;
}

.border-6 {
  border-width: 6px;
}

.border-8 {
  border-width: 8px;
}

.border-t-0 {
  border-top-width: 0;
}

.border-t-2 {
  border-top-width: 2px;
}

.border-t-4 {
  border-top-width: 4px;
}

.border-t-6 {
  border-top-width: 6px;
}

.border-t-8 {
  border-top-width: 8px;
}

.border-t {
  border-top-width: 1px;
}

.border-r-0 {
  border-right-width: 0;
}

.border-r-2 {
  border-right-width: 2px;
}

.border-r-4 {
  border-right-width: 4px;
}

.border-r-6 {
  border-right-width: 6px;
}

.border-r-8 {
  border-right-width: 8px;
}

.border-r {
  border-right-width: 1px;
}

.border-b-0 {
  border-bottom-width: 0;
}

.border-b-2 {
  border-bottom-width: 2px;
}

.border-b-4 {
  border-bottom-width: 4px;
}

.border-b-6 {
  border-bottom-width: 6px;
}

.border-b-8 {
  border-bottom-width: 8px;
}

.border-b {
  border-bottom-width: 1px;
}

.border-l-0 {
  border-left-width: 0;
}

.border-l-2 {
  border-left-width: 2px;
}

.border-l-4 {
  border-left-width: 4px;
}

.border-l-6 {
  border-left-width: 6px;
}

.border-l-8 {
  border-left-width: 8px;
}

.border-l {
  border-left-width: 1px;
}

.border-solid {
  border-style: solid;
}

.border-dashed {
  border-style: dashed;
}

.border-dotted {
  border-style: dotted;
}

.border-double {
  border-style: double;
}

.border-hidden {
  border-style: hidden;
}

.border-none {
  border-style: none;
}

// Flex
.flex {
  display: flex;
}

.inline-flex {
  display: inline-flex;
}

@each $size in $flex_sizes {
  .flex-#{escape-number($size)} {
    flex: $size;
  }
}

.flex-auto {
  flex: auto;
}

.flex-col {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-wrap-reverse {
  flex-wrap: wrap-reverse;
}

.flex-nowrap {
  flex-wrap: nowrap;
}

.shrink {
  flex-shrink: 1;
}

.shrink-0 {
  flex-shrink: 0;
}

.grow {
  flex-grow: 1;
}

.grow-0 {
  flex-grow: 0;
}

.basis-0 {
  flex-basis: 0;
}

.justify-start {
  justify-content: flex-start;
}

.justify-end {
  justify-content: flex-end;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.justify-evenly {
  justify-content: space-evenly;
}

.items-start {
  align-items: flex-start;
}

.items-end {
  align-items: flex-end;
}

.items-center {
  align-items: center;
}

.items-baseline {
  align-items: baseline;
}

.items-stretch {
  align-items: stretch;
}

.self-auto {
  align-self: auto;
}

.self-start {
  align-self: flex-start;
}

.self-end {
  align-self: flex-end;
}

.self-center {
  align-self: center;
}

.self-stretch {
  align-self: stretch;
}

.self-baseline {
  align-self: baseline;
}


// Typography
.font-thin {
  font-weight: 100;
}

.font-extralight {
  font-weight: 200;
}

.font-light {
  font-weight: 300;
}

.font-normal {
  font-weight: 400;
}

.font-medium {
  font-weight: 500;
}

.font-semibold {
  font-weight: 600;
}

.font-bold {
  font-weight: 700;
}

.font-extrabold {
  font-weight: 800;
}

.font-black {
  font-weight: 900;
}

.italic {
  font-style: italic;
}

.not-italic {
  font-style: normal;
}

.break-normal {
  word-break: normal;
  overflow-wrap: normal;
}

.break-words {
  overflow-wrap: break-word;
}

.break-all {
  word-break: break-all;
}

.whitespace-normal {
  white-space: normal;
}

.whitespace-nowrap {
  white-space: nowrap;
}

.whitespace-pre {
  white-space: pre;
}

.whitespace-pre-line {
  white-space: pre-line;
}

.whitespace-pre-wrap {
  white-space: pre-wrap;
}

.text-xxs {
  font-size: 0.625rem; /* 10px */
  line-height: 0.75rem; /* 12px */
}

.text-xs {
  font-size: 0.75rem; /* 12px */
  line-height: 1rem; /* 16px */
}

.text-sm {
  font-size: 0.875rem; /* 14px */
  line-height: 1.25rem; /* 20px */
}

.text-base {
  font-size: 1rem; /* 16px */
  line-height: 1.5rem; /* 24px */
}

.text-lg {
  font-size: 1.125rem; /* 18px */
  line-height: 1.75rem; /* 28px */
}

.text-xl {
  font-size: 1.25rem; /* 20px */
  line-height: 1.75rem; /* 28px */
}

.text-2xl {
  font-size: 1.5rem; /* 24px */
  line-height: 2rem; /* 32px */
}

.text-3xl {
  font-size: 1.875rem; /* 30px */
  line-height: 2.25rem; /* 36px */
}

.text-4xl {
  font-size: 2.25rem; /* 36px */
  line-height: 2.5rem; /* 40px */
}

.text-5xl {
  font-size: 3rem; /* 48px */
  line-height: 1;
}

.text-6xl {
  font-size: 3.75rem; /* 60px */
  line-height: 1;
}

.text-7xl {
  font-size: 4.5rem; /* 72px */
  line-height: 1;
}

.text-8xl {
  font-size: 6rem; /* 96px */
  line-height: 1;
}

.text-9xl {
  font-size: 8rem; /* 128px */
  line-height: 1;
}

@each $space in $tiny_spaces {
  .leading-#{escape-number($space)} {
    line-height: #{$space * 0.25}rem;
  }
}

.rounded {
  border-radius: 0.25rem;
}

.rounded-l {
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}

.rounded-r {
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

.rounded-t {
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

.rounded-b {
  border-bottom-right-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}

.rounded-none {
  border-radius: 0;
}

.rounded-r-none {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.rounded-l-none {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.rounded-sm {
  border-radius: calc(var(--radius) / 2); /* 2px */
}

.rounded-md {
  border-radius: 0.375rem;
}

.rounded-lg {
  border-radius: 0.5rem;
}

.rounded-xl {
  border-radius: 0.75rem;
}

.rounded-2xl {
  border-radius: 1rem;
}